# DS Lab - Final Assignment: Robust Journey Planning #

## Load the data

In [1]:
#Importations.
import pandas as pd
import glob
from geopy import distance
import numpy as np

### Load the data published by the Open Data Platform Swiss Public Transport (https://opentransportdata.swiss).

In [2]:
#path on my computer of the files.
path = "2017-09/2017-09-13istdaten.csv"

In [3]:
#useful list
data = []
#read each csv we had.
for fname in sorted(glob.glob(path)):
    d = pd.read_csv(fname, sep=';',low_memory=False)
    data.append(d)
    
#process the data from the csv files to a dataframe.
data = pd.concat(data)
data = pd.DataFrame(data)
data = data.reset_index()
data = data.drop(['index'], axis = 1)

In [4]:
#check the tail.
data.tail()

,BETRIEBSTAG,FAHRT_BEZEICHNER,BETREIBER_ID,BETREIBER_ABK,BETREIBER_NAME,PRODUKT_ID,LINIEN_ID,LINIEN_TEXT,UMLAUF_ID,VERKEHRSMITTEL_TEXT,...,FAELLT_AUS_TF,BPUIC,HALTESTELLEN_NAME,ANKUNFTSZEIT,AN_PROGNOSE,AN_PROGNOSE_STATUS,ABFAHRTSZEIT,AB_PROGNOSE,AB_PROGNOSE_STATUS,DURCHFAHRT_TF
889269,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504294,Vuiteboeuf,13.09.2017 05:57,NaN,UNBEKANNT,13.09.2017 05:57,NaN,UNBEKANNT,False
889270,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504295,Baulmes,13.09.2017 06:01,NaN,UNBEKANNT,13.09.2017 06:01,NaN,UNBEKANNT,False
889271,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504296,Six-Fontaines,13.09.2017 06:05,NaN,UNBEKANNT,13.09.2017 06:05,NaN,UNBEKANNT,False
889272,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504297,Trois-Villes,13.09.2017 06:12,NaN,UNBEKANNT,13.09.2017 06:12,NaN,UNBEKANNT,False
889273,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504298,Ste-Croix,13.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False

### Load the station list data.

In [5]:
#path.
station_path = "BFKOORD_GEO"

In [6]:
station_file  = open(station_path, "r")

In [7]:
BPUIC = []
long = []
lat = []
name = []

for line in station_file:
    l = line.split()
    BPUIC.append(l[0])
    long.append(l[1])
    lat.append(l[2])
    name.append(l[5])

In [8]:
d = {'BPUIC':BPUIC,
     'longitude' : long,
     'latitude' : lat,
     'station name': name}
station_df = pd.DataFrame(d)
station_df = station_df[['BPUIC','longitude','latitude']]
station_df['BPUIC'] = station_df['BPUIC'].astype(np.int64)

In [9]:
station_df.head()

   BPUIC  longitude   latitude
0      2  26.074412  44.446770
1      3   1.811446  50.901549
2      4   1.075329  51.284212
3      5  -3.543547  50.729172
4      7   9.733756  46.922368

In [10]:
zurich_coord = (47.407665036,8.540331172)
salamanca = (40.96, -5.50)

In [11]:
print(distance.distance(zurich_coord, salamanca).km)

1328.6915399458765

In [12]:
df = pd.merge(data,station_df,on='BPUIC',how='left')

In [13]:
df.tail()

,BETRIEBSTAG,FAHRT_BEZEICHNER,BETREIBER_ID,BETREIBER_ABK,BETREIBER_NAME,PRODUKT_ID,LINIEN_ID,LINIEN_TEXT,UMLAUF_ID,VERKEHRSMITTEL_TEXT,...,HALTESTELLEN_NAME,ANKUNFTSZEIT,AN_PROGNOSE,AN_PROGNOSE_STATUS,ABFAHRTSZEIT,AB_PROGNOSE,AB_PROGNOSE_STATUS,DURCHFAHRT_TF,longitude,latitude
889269,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Vuiteboeuf,13.09.2017 05:57,NaN,UNBEKANNT,13.09.2017 05:57,NaN,UNBEKANNT,False,6.553607,46.803829
889270,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Baulmes,13.09.2017 06:01,NaN,UNBEKANNT,13.09.2017 06:01,NaN,UNBEKANNT,False,6.524330,46.788917
889271,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Six-Fontaines,13.09.2017 06:05,NaN,UNBEKANNT,13.09.2017 06:05,NaN,UNBEKANNT,False,6.498853,46.774064
889272,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Trois-Villes,13.09.2017 06:12,NaN,UNBEKANNT,13.09.2017 06:12,NaN,UNBEKANNT,False,6.531971,46.800268
889273,13.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Ste-Croix,13.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False,6.500310,46.819668

In [14]:
# Renaming the columns of the dataframe
df.columns = ['trip_date', 'trip_id', 'operator_id', 'operator_abk', 
                'operator_name', 'product_id', 'line_id', 'line_text',
                'circulation_id', 'transport_text', 'additional_trip',
                'failed', 'stop_id', 'stop_name', 'scheduled_arrival_time',
                'actual_arrival_time', 'actual_arrival_time_status', 'scheduled_departure_time',
                'actual_departure_time',  'actual_departure_time_status', 'no_stop',
                'longitude', 'latitude']

In [20]:
import datetime

In [21]:
# Convert columns 'trip_date', scheduled_arrival_time' and 'scheduled departure time' to datetime
df['trip_date'] = pd.to_datetime(df['trip_date'], errors='ignore')
df['scheduled_arrival_time'] = pd.to_datetime(df['scheduled_arrival_time'], errors='ignore')
df['scheduled_departure_time'] = pd.to_datetime(df['scheduled_departure_time'], errors='ignore')

In [57]:
info_trips = pd.DataFrame()
visu_trips = pd.DataFrame()

# id_ = df['trip_id'].unique()[555]
for id_ in df['trip_id'].unique()[400:600]:
    temp = df.loc[df['trip_id'] == id_]
    # We consider trips having at least 2 stops
    if len(temp) > 1:
        # For a given trip id sort arrival times at the stops
        temp = temp.sort_values(by=['scheduled_arrival_time'], axis='index', ascending=True, inplace=False, na_position='first')
        # Select only relevant columns in the dataframe
        temp = temp[['operator_name', 'product_id', 'line_id', 'scheduled_departure_time', 'scheduled_arrival_time', 'stop_name']]
        # Concatenate the result into a final DataFrame
        info_trips = pd.concat([info_trips, temp], axis=0, levels=['line_id', 'product_id'], ignore_index=False)

        # Create a visualization DataFrame showing bus stops, 
        # departure time and arrival time for each trip id
        visu = temp.copy()
        visu['stop_list'] = ' | '.join(visu['stop_name'])
        # Departure time at the start of the trip
        visu['scheduled_terminus_departure_time'] = visu['scheduled_departure_time'].iloc[0]
        # Arrival time at the end of the trip
        visu['scheduled_terminus_arrival_time'] = visu['scheduled_arrival_time'].iloc[len(visu)-1]
        visu = visu.reset_index(['operator_name', 'product_id', 'line_id'])
        # Select only relevant columns in the dataframe
        visu = visu[['operator_name', 'product_id', 'line_id', 'stop_list', 'scheduled_terminus_departure_time', 'scheduled_terminus_arrival_time']].iloc[:1]
        # Concatenate the result into a final DataFrame
        visu_trips = pd.concat([visu_trips, visu], axis=0, ignore_index=False)


visu_trips = visu_trips.set_index(['operator_name', 'stop_list', 'product_id']).sort_index(axis=0, level=['stop_list'])

In [63]:
info_trips = info_trips.set_index(['operator_name', 'line_id', 'product_id']).sort_index(axis=0, level=['line_id'])

In [66]:
info_trips.head()

                                                   scheduled_arrival_time  \
operator_name                   line_id product_id
Schweizerische Bundesbahnen SBB 11031   Zug                           NaT
                                        Zug           2017-09-13 09:00:00
                                        Zug           2017-09-13 09:08:00
                                        Zug           2017-09-13 09:10:00
                                        Zug           2017-09-13 09:13:00

                                                   scheduled_departure_time  \
operator_name                   line_id product_id
Schweizerische Bundesbahnen SBB 11031   Zug             2017-09-13 08:54:00
                                        Zug             2017-09-13 09:02:00
                                        Zug             2017-09-13 09:08:00
                                        Zug             2017-09-13 09:10:00
                                        Zug             2017-09-13 09:14:00

                                                           stop_name
operator_name                   line_id product_id
Schweizerische Bundesbahnen SBB 11031   Zug         Lancy-Pont-Rouge
                                        Zug                   Genève
                                        Zug            Les Tuileries
                                        Zug         Genthod-Bellevue
                                        Zug         Creux-de-Genthod

In [67]:
visu_trips.head()

                                                                                              line_id  \
operator_name                   stop_list                                          product_id
Schweizerische Bundesbahnen SBB Chiasso | Lugano | Bellinzona | Arth-Goldau | Z... Zug             12
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug          11078
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug          11072
                                                                                   Zug          11074
                                                                                   Zug          11076

                                                                                              scheduled_terminus_departure_time  \
operator_name                   stop_list                                          product_id
Schweizerische Bundesbahnen SBB Chiasso | Lugano | Bellinzona | Arth-Goldau | Z... Zug                      2017-09-13 08:15:00
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug                      2017-09-13 20:33:00
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug                      2017-09-13 19:03:00
                                                                                   Zug                      2017-09-13 19:33:00
                                                                                   Zug                      2017-09-13 20:03:00

                                                                                              scheduled_terminus_arrival_time
operator_name                   stop_list                                          product_id
Schweizerische Bundesbahnen SBB Chiasso | Lugano | Bellinzona | Arth-Goldau | Z... Zug                    2017-09-13 10:51:00
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug                    2017-09-13 20:56:00
                                Coppet | Tannay | Mies | Pont-Céard | Versoix |... Zug                    2017-09-13 19:34:00
                                                                                   Zug                    2017-09-13 20:04:00
                                                                                   Zug                    2017-09-13 20:34:00