# DS Lab - Final Assignment: Robust Journey Planning #

## Load the data

In [2]:
import pandas as pd
import glob

In [3]:
#path on my computer of the files.
path = "2017-09/*.csv"

In [4]:
#useful list
data = []
#read each csv we had.
for fname in sorted(glob.glob(path)):
    d = pd.read_csv(fname, sep=';',low_memory=False)
    data.append(d)
    
#process the data from the csv files to a dataframe.
data = pd.concat(data)
data = pd.DataFrame(data)
data = data.reset_index()
data = data.drop(['index'], axis = 1)

In [5]:
# Renaming the columns of the dataframe
data.columns = ['trip_date', 'trip_id', 'operator_id', 'operator_abk', 
                'operator_name', 'product_id', 'line_id', 'line_text',
                'circulation_id', 'transport_text', 'additional_trip',
                'failed', 'stop_id', 'stop_name', 'scheduled_arrival_time',
                'actual_arrival_time', 'actual_arrival_time_status', 'scheduled_departure_time',
                'actual_departure_time',  'actual_departure_time_status', 'no_stop']

In [6]:
#check the tail.
data.head()

,trip_date,trip_id,operator_id,operator_abk,operator_name,product_id,line_id,line_text,circulation_id,transport_text,...,failed,stop_id,stop_name,scheduled_arrival_time,actual_arrival_time,actual_arrival_time_status,scheduled_departure_time,actual_departure_time,actual_departure_time_status,no_stop
0,13.09.2017,80:06____:17010:000,80:06____,DB,DB Regio AG,Zug,17010,RE,NaN,RE,...,False,8500090,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 05:45,13.09.2017 05:45:00,PROGNOSE,False
1,13.09.2017,80:06____:17012:000,80:06____,DB,DB Regio AG,Zug,17012,RE,NaN,RE,...,False,8500090,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 06:34,13.09.2017 06:34:00,PROGNOSE,False
2,13.09.2017,80:06____:17013:000,80:06____,DB,DB Regio AG,Zug,17013,RE,NaN,RE,...,False,8500090,Basel Bad Bf,13.09.2017 06:25,13.09.2017 06:28:00,PROGNOSE,NaN,NaN,PROGNOSE,False
3,13.09.2017,80:06____:17014:000,80:06____,DB,DB Regio AG,Zug,17014,RE,NaN,RE,...,False,8500090,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 09:48,13.09.2017 09:48:00,PROGNOSE,False
4,13.09.2017,80:06____:17015:000,80:06____,DB,DB Regio AG,Zug,17015,RE,NaN,RE,...,False,8500090,Basel Bad Bf,13.09.2017 08:06,13.09.2017 08:11:00,PROGNOSE,NaN,NaN,PROGNOSE,False

In [7]:
# Check the tail
data.tail()

,trip_date,trip_id,operator_id,operator_abk,operator_name,product_id,line_id,line_text,circulation_id,transport_text,...,failed,stop_id,stop_name,scheduled_arrival_time,actual_arrival_time,actual_arrival_time_status,scheduled_departure_time,actual_departure_time,actual_departure_time_status,no_stop
14967129,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504294,Vuiteboeuf,30.09.2017 05:57,NaN,UNBEKANNT,30.09.2017 05:57,NaN,UNBEKANNT,False
14967130,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504295,Baulmes,30.09.2017 06:01,NaN,UNBEKANNT,30.09.2017 06:01,NaN,UNBEKANNT,False
14967131,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504296,Six-Fontaines,30.09.2017 06:05,NaN,UNBEKANNT,30.09.2017 06:05,NaN,UNBEKANNT,False
14967132,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504297,Trois-Villes,30.09.2017 06:12,NaN,UNBEKANNT,30.09.2017 06:12,NaN,UNBEKANNT,False
14967133,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504298,Ste-Croix,30.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False

In [20]:
len(data)

14967134

In [ ]:
len(data.loc[data['actual_arrival_time_status'] == 'GESCHAETZT'])

In [15]:
data['actual_arrival_time_status'].unique()

array(['PROGNOSE', 'UNBEKANNT', 'GESCHAETZT', 'REAL'], dtype=object)

In [11]:
len(data.loc[(data['actual_arrival_time_status'] == 'GESCHAETZT') & 
             (data['actual_arrival_time'].isnull() == False)])

1769580

In [12]:
len(data.loc[data['transport_text'].isnull() == False])

3183679

In [13]:
len(data.loc[(data['product_id'] == 'Zug') & (data['transport_text'].isnull() == False)])

2710581

In [14]:
# 
data.loc[(data['product_id'].isnull()) & (data['transport_text'].isnull() == False)]['transport_text'].unique()

array(['TGV', 'EC', 'IR'], dtype=object)