# DS Lab - Final Assignment: Robust Journey Planning #

## Load the data

In [1]:
#Importations.
import pandas as pd
import glob
from geopy import distance
import numpy as np

### Load the data published by the Open Data Platform Swiss Public Transport (https://opentransportdata.swiss).

In [2]:
#path on my computer of the files.
path = "2017-09/*.csv"

In [3]:
#useful list
data = []
#read each csv we had.
for fname in sorted(glob.glob(path)):
    d = pd.read_csv(fname, sep=';',low_memory=False)
    data.append(d)
    
#process the data from the csv files to a dataframe.
data = pd.concat(data)
data = pd.DataFrame(data)
data = data.reset_index()
data = data.drop(['index'], axis = 1)

In [4]:
#check the tail.
data.tail()

,BETRIEBSTAG,FAHRT_BEZEICHNER,BETREIBER_ID,BETREIBER_ABK,BETREIBER_NAME,PRODUKT_ID,LINIEN_ID,LINIEN_TEXT,UMLAUF_ID,VERKEHRSMITTEL_TEXT,...,FAELLT_AUS_TF,BPUIC,HALTESTELLEN_NAME,ANKUNFTSZEIT,AN_PROGNOSE,AN_PROGNOSE_STATUS,ABFAHRTSZEIT,AB_PROGNOSE,AB_PROGNOSE_STATUS,DURCHFAHRT_TF
14967129,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504294,Vuiteboeuf,30.09.2017 05:57,NaN,UNBEKANNT,30.09.2017 05:57,NaN,UNBEKANNT,False
14967130,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504295,Baulmes,30.09.2017 06:01,NaN,UNBEKANNT,30.09.2017 06:01,NaN,UNBEKANNT,False
14967131,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504296,Six-Fontaines,30.09.2017 06:05,NaN,UNBEKANNT,30.09.2017 06:05,NaN,UNBEKANNT,False
14967132,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504297,Trois-Villes,30.09.2017 06:12,NaN,UNBEKANNT,30.09.2017 06:12,NaN,UNBEKANNT,False
14967133,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504298,Ste-Croix,30.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False

### Load the station list data.

In [7]:
#path.
station_path = "BFKOORD_GEO"

In [8]:
station_file  = open(station_path, "r")

In [9]:
BPUIC = []
long = []
lat = []
name = []

for line in station_file:
    l = line.split()
    BPUIC.append(l[0])
    long.append(l[1])
    lat.append(l[2])
    name.append(l[5])

In [10]:
d = {'BPUIC':BPUIC,
     'longitude' : long,
     'latitude' : lat,
     'station name': name}
station_df = pd.DataFrame(d)
station_df = station_df[['BPUIC','longitude','latitude','station name']]
station_df['BPUIC'] = station_df['BPUIC'].astype(np.int64)

In [11]:
station_df.head()

   BPUIC  longitude   latitude station name
0      2  26.074412  44.446770    Bucuresti
1      3   1.811446  50.901549       Calais
2      4   1.075329  51.284212   Canterbury
3      5  -3.543547  50.729172       Exeter
4      7   9.733756  46.922368     Fideris,

In [12]:
zurich_coord = (47.407665036,8.540331172)
salamanca = (40.96, -5.50)

In [13]:
print(distance.distance(zurich_coord, salamanca).km)

1328.6915399458765

In [14]:
df = pd.merge(data,station_df,on='BPUIC',how='left')

In [63]:
df.tail()

,trip_date,trip_id,operator_id,operator_abk,operator_name,product_id,line_id,line_text,circulation_id,transport_text,...,stop_name,scheduled_arrival_time,actual_arrival_time,actual_arrival_time_status,scheduled_departure_time,actual_departure_time,actual_departure_time_status,no_stop,longitude,latitude
14967129,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Vuiteboeuf,30.09.2017 05:57,NaN,UNBEKANNT,30.09.2017 05:57,NaN,UNBEKANNT,False,6.553607,46.803829
14967130,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Baulmes,30.09.2017 06:01,NaN,UNBEKANNT,30.09.2017 06:01,NaN,UNBEKANNT,False,6.524330,46.788917
14967131,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Six-Fontaines,30.09.2017 06:05,NaN,UNBEKANNT,30.09.2017 06:05,NaN,UNBEKANNT,False,6.498853,46.774064
14967132,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Trois-Villes,30.09.2017 06:12,NaN,UNBEKANNT,30.09.2017 06:12,NaN,UNBEKANNT,False,6.531971,46.800268
14967133,30.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,Ste-Croix,30.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False,6.500310,46.819668

In [58]:
# Renaming the columns of the dataframe
df.columns = ['trip_date', 'trip_id', 'operator_id', 'operator_abk', 
                'operator_name', 'product_id', 'line_id', 'line_text',
                'circulation_id', 'transport_text', 'additional_trip',
                'failed', 'stop_id', 'stop_name', 'scheduled_arrival_time',
                'actual_arrival_time', 'actual_arrival_time_status', 'scheduled_departure_time',
                'actual_departure_time',  'actual_departure_time_status', 'no_stop',
                'longitude', 'latitude', 'to_drop']

In [62]:
# drop stop name
df = df.drop(['to_drop'], axis=1)
# Get list of all trip ids
trip_ids = df['trip_id'].unique()
# Retrieve stop_names, product_ids associated to each trip id
#stop_names_by_trip_id = [df.loc[df['trip_id'] == id_]['operator_id', 'product_id', 'line_id'].uniques() for id_ in trip_ids]

In [72]:
#df.loc[df['trip_id'] == '85:97:9:000'][['operator_id', 'product_id', 'line_id']].uniques()
j = 0
info_trips = []
for id_ in df['trip_id'].unique():
    temp = df.loc[df['trip_id'] == id_]
    info_trips.append(temp['operator_name'].unique() + ' ' + temp['product_id'].unique() + ' ' + temp['line_id'].unique()
           + ' | Stop names ---> ' + temp.stop_name.unique())
    j += 1
    if j == 1000:
        break

In [80]:
info_trips[555]

array(['Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Lausanne',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Prilly-Malley',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Renens VD',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Bussigny',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Vufflens-la-Ville',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Cossonay-Penthalaz',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Eclépens',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Bavois',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Chavornay',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Essert-Pittet',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Ependes',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Yverdon-les-Bains',
       'Schweizerische Bundesbahnen SBB Zug 12178 | Stop names ---> Grandson'],
      dtype=object)

In [68]:
df.loc[df['trip_id'] == '85:97:9:000'].stop_name.unique()#[['stop_name']]

array(['Yverdon-les-Bains', 'Yverdon William Barbey', 'La Brinaz',
       'Valeyres-sous-Montagny', 'Essert-sous-Champvent', 'Vuiteboeuf',
       'Baulmes', 'Six-Fontaines', 'Trois-Villes', 'Ste-Croix'],
      dtype=object)

In [82]:
df.loc[df['line_id'] == '12178'].scheduled_arrival_time #.unique()#[['stop_name']]

2273                     NaN
2274        13.09.2017 19:56
2275        13.09.2017 20:00
2276        13.09.2017 20:03
2277        13.09.2017 20:06
2278        13.09.2017 20:10
2279        13.09.2017 20:15
2280        13.09.2017 20:17
2281        13.09.2017 20:21
2282        13.09.2017 20:23
2283        13.09.2017 20:26
2284        13.09.2017 20:31
2285        13.09.2017 20:36
891645                   NaN
891646      14.09.2017 19:56
891647      14.09.2017 20:00
891648      14.09.2017 20:03
891649      14.09.2017 20:06
891650      14.09.2017 20:10
891651      14.09.2017 20:15
891652      14.09.2017 20:17
891653      14.09.2017 20:21
891654      14.09.2017 20:23
891655      14.09.2017 20:26
891656      14.09.2017 20:31
891657      14.09.2017 20:36
1779280                  NaN
1779281     15.09.2017 19:56
1779282     15.09.2017 20:00
1779283     15.09.2017 20:03
                  ...
12436946    28.09.2017 20:23
12436947    28.09.2017 20:26
12436948    28.09.2017 20:31
12436949    28.09.2017 20:36
13316850                 NaN
13316851    29.09.2017 19:56
13316852    29.09.2017 20:00
13316853    29.09.2017 20:03
13316854    29.09.2017 20:06
13316855    29.09.2017 20:10
13316856    29.09.2017 20:15
13316857    29.09.2017 20:17
13316858    29.09.2017 20:21
13316859    29.09.2017 20:23
13316860    29.09.2017 20:26
13316861    29.09.2017 20:31
13316862    29.09.2017 20:36
14208704                 NaN
14208705    30.09.2017 19:56
14208706    30.09.2017 20:00
14208707    30.09.2017 20:03
14208708    30.09.2017 20:06
14208709    30.09.2017 20:10
14208710    30.09.2017 20:15
14208711    30.09.2017 20:17
14208712    30.09.2017 20:21
14208713    30.09.2017 20:23
14208714    30.09.2017 20:26
14208715    30.09.2017 20:31
14208716    30.09.2017 20:36
Name: scheduled_arrival_time, Length: 234, dtype: object

In [84]:
import datetime

In [89]:

pd.to_datetime(df.loc[df['line_id'] == '12178'].scheduled_arrival_time, errors='ignore')
#[datetime.date.strptime(x, '%m/%d/%Y') for x in df.loc[df['line_id'] == '12178'].scheduled_arrival_time]

2273                       NaT
2274       2017-09-13 19:56:00
2275       2017-09-13 20:00:00
2276       2017-09-13 20:03:00
2277       2017-09-13 20:06:00
2278       2017-09-13 20:10:00
2279       2017-09-13 20:15:00
2280       2017-09-13 20:17:00
2281       2017-09-13 20:21:00
2282       2017-09-13 20:23:00
2283       2017-09-13 20:26:00
2284       2017-09-13 20:31:00
2285       2017-09-13 20:36:00
891645                     NaT
891646     2017-09-14 19:56:00
891647     2017-09-14 20:00:00
891648     2017-09-14 20:03:00
891649     2017-09-14 20:06:00
891650     2017-09-14 20:10:00
891651     2017-09-14 20:15:00
891652     2017-09-14 20:17:00
891653     2017-09-14 20:21:00
891654     2017-09-14 20:23:00
891655     2017-09-14 20:26:00
891656     2017-09-14 20:31:00
891657     2017-09-14 20:36:00
1779280                    NaT
1779281    2017-09-15 19:56:00
1779282    2017-09-15 20:00:00
1779283    2017-09-15 20:03:00
                   ...
12436946   2017-09-28 20:23:00
12436947   2017-09-28 20:26:00
12436948   2017-09-28 20:31:00
12436949   2017-09-28 20:36:00
13316850                   NaT
13316851   2017-09-29 19:56:00
13316852   2017-09-29 20:00:00
13316853   2017-09-29 20:03:00
13316854   2017-09-29 20:06:00
13316855   2017-09-29 20:10:00
13316856   2017-09-29 20:15:00
13316857   2017-09-29 20:17:00
13316858   2017-09-29 20:21:00
13316859   2017-09-29 20:23:00
13316860   2017-09-29 20:26:00
13316861   2017-09-29 20:31:00
13316862   2017-09-29 20:36:00
14208704                   NaT
14208705   2017-09-30 19:56:00
14208706   2017-09-30 20:00:00
14208707   2017-09-30 20:03:00
14208708   2017-09-30 20:06:00
14208709   2017-09-30 20:10:00
14208710   2017-09-30 20:15:00
14208711   2017-09-30 20:17:00
14208712   2017-09-30 20:21:00
14208713   2017-09-30 20:23:00
14208714   2017-09-30 20:26:00
14208715   2017-09-30 20:31:00
14208716   2017-09-30 20:36:00
Name: scheduled_arrival_time, Length: 234, dtype: datetime64[ns]