# DS Lab - Final Assignment: Robust Journey Planning #

## Load the data

### Load the data published by the Open Data Platform Swiss Public Transport (https://opentransportdata.swiss).

In [3]:
#path on my computer of the files.
path = "2017-09-test/*.csv"

In [4]:
#useful list
data = []
#read each csv we had.
for fname in sorted(glob.glob(path)):
    d = pd.read_csv(fname, sep=';',low_memory=False)
    data.append(d)
    
#process the data from the csv files to a dataframe.
data = pd.concat(data)
data = pd.DataFrame(data)
data = data.reset_index()
data = data.drop(['index'], axis = 1)

In [5]:
#check the tail.
data.tail()

,BETRIEBSTAG,FAHRT_BEZEICHNER,BETREIBER_ID,BETREIBER_ABK,BETREIBER_NAME,PRODUKT_ID,LINIEN_ID,LINIEN_TEXT,UMLAUF_ID,VERKEHRSMITTEL_TEXT,...,FAELLT_AUS_TF,BPUIC,HALTESTELLEN_NAME,ANKUNFTSZEIT,AN_PROGNOSE,AN_PROGNOSE_STATUS,ABFAHRTSZEIT,AB_PROGNOSE,AB_PROGNOSE_STATUS,DURCHFAHRT_TF
1776718,14.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504294,Vuiteboeuf,14.09.2017 05:57,NaN,UNBEKANNT,14.09.2017 05:57,NaN,UNBEKANNT,False
1776719,14.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504295,Baulmes,14.09.2017 06:01,NaN,UNBEKANNT,14.09.2017 06:01,NaN,UNBEKANNT,False
1776720,14.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504296,Six-Fontaines,14.09.2017 06:05,NaN,UNBEKANNT,14.09.2017 06:05,NaN,UNBEKANNT,False
1776721,14.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504297,Trois-Villes,14.09.2017 06:12,NaN,UNBEKANNT,14.09.2017 06:12,NaN,UNBEKANNT,False
1776722,14.09.2017,85:97:9:000,85:97,TRAVYS-ysc,Transports Vallée de Joux-Yverdon-Ste-Croix (Y...,Zug,9,R,NaN,R,...,False,8504298,Ste-Croix,14.09.2017 06:21,NaN,UNBEKANNT,NaN,NaN,PROGNOSE,False

### Load the station list data.

In [6]:
#path.
station_path = "BFKOORD_GEO"

In [7]:
station_file  = open(station_path, "r")

In [8]:
BPUIC = []
long = []
lat = []
name = []

for line in station_file:
    l = line.split()
    BPUIC.append(l[0])
    long.append(l[1])
    lat.append(l[2])
    name.append(l[5])

In [9]:
d = {'BPUIC':BPUIC,
     'longitude' : long,
     'latitude' : lat,
     'station name': name}
station_df = pd.DataFrame(d)
station_df = station_df[['BPUIC','longitude','latitude']]
station_df['BPUIC'] = station_df['BPUIC'].astype(np.int64)

In [10]:
station_df.head()

   BPUIC  longitude   latitude
0      2  26.074412  44.446770
1      3   1.811446  50.901549
2      4   1.075329  51.284212
3      5  -3.543547  50.729172
4      7   9.733756  46.922368

In [11]:
zurich_coord = (47.407665036,8.540331172)
salamanca = (40.96, -5.50)

In [12]:
print(distance.distance(zurich_coord, salamanca).km)

1328.6915399458765

In [13]:
df = pd.merge(data,station_df,on='BPUIC',how='left')

In [14]:
df.head()

,BETRIEBSTAG,FAHRT_BEZEICHNER,BETREIBER_ID,BETREIBER_ABK,BETREIBER_NAME,PRODUKT_ID,LINIEN_ID,LINIEN_TEXT,UMLAUF_ID,VERKEHRSMITTEL_TEXT,...,HALTESTELLEN_NAME,ANKUNFTSZEIT,AN_PROGNOSE,AN_PROGNOSE_STATUS,ABFAHRTSZEIT,AB_PROGNOSE,AB_PROGNOSE_STATUS,DURCHFAHRT_TF,longitude,latitude
0,13.09.2017,80:06____:17010:000,80:06____,DB,DB Regio AG,Zug,17010,RE,NaN,RE,...,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 05:45,13.09.2017 05:45:00,PROGNOSE,False,7.607284,47.568147
1,13.09.2017,80:06____:17012:000,80:06____,DB,DB Regio AG,Zug,17012,RE,NaN,RE,...,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 06:34,13.09.2017 06:34:00,PROGNOSE,False,7.607284,47.568147
2,13.09.2017,80:06____:17013:000,80:06____,DB,DB Regio AG,Zug,17013,RE,NaN,RE,...,Basel Bad Bf,13.09.2017 06:25,13.09.2017 06:28:00,PROGNOSE,NaN,NaN,PROGNOSE,False,7.607284,47.568147
3,13.09.2017,80:06____:17014:000,80:06____,DB,DB Regio AG,Zug,17014,RE,NaN,RE,...,Basel Bad Bf,NaN,NaN,PROGNOSE,13.09.2017 09:48,13.09.2017 09:48:00,PROGNOSE,False,7.607284,47.568147
4,13.09.2017,80:06____:17015:000,80:06____,DB,DB Regio AG,Zug,17015,RE,NaN,RE,...,Basel Bad Bf,13.09.2017 08:06,13.09.2017 08:11:00,PROGNOSE,NaN,NaN,PROGNOSE,False,7.607284,47.568147

# Create Network

In [15]:
# transform a date to an integer. Dates within the same 24 hours
# interval map to the same integer. the interval is specied by the
# origin argument. 
# example origin = 2017.09.13 2h00
# date_to_integer(2017.09.13 14h05) returns 0
# date_to_integer(2017.09.14 1h28) returns 0
# date_to_integer(2017.09.14 8h38) returns 1
def date_to_integer(row, origin=datetime.datetime(2017, 9, 13, 2, 0, 0)):
    # set reference time in seconds
    origin_seconds = origin.replace(tzinfo=timezone.utc).timestamp()
    # transform datetime into seconds    
    try:
        # transform datetime into seconds
        # row['scheduled_departure_time'].
        curr_datetime_seconds = row[0].replace(tzinfo=timezone.utc).timestamp()
    except ValueError:
        try:
            # row['scheduled_arrival_time']
            curr_datetime_seconds = row[1].replace(tzinfo=timezone.utc).timestamp()
        except ValueError:
            print('Time information not found !')
    # set target
    target = curr_datetime_seconds - origin_seconds
    # set offset
    offset = 60*60*24
    # find integer value to associate with a day
    x = -2
    while not (x*offset <= target < (x+1)*offset):
        x += 1
    return x

In [16]:
# Renaming the columns of the dataframe
df.columns = ['trip_date', 'trip_id', 'operator_id', 'operator_abk', 
                'operator_name', 'product_id', 'line_id', 'line_text',
                'circulation_id', 'transport_text', 'additional_trip',
                'failed', 'stop_id', 'stop_name', 'scheduled_arrival_time',
                'actual_arrival_time', 'actual_arrival_time_status', 'scheduled_departure_time',
                'actual_departure_time',  'actual_departure_time_status', 'no_stop',
                'longitude', 'latitude']

In [17]:
# Convert columns 'trip_date', scheduled_arrival_time' and 'scheduled departure time' to datetime
df['trip_date'] = pd.to_datetime(df['trip_date'], format='%d.%m.%Y', errors='ignore')
df['scheduled_arrival_time'] = pd.to_datetime(df['scheduled_arrival_time'], format='%d.%m.%Y %H:%M', errors='ignore')
df['scheduled_departure_time'] = pd.to_datetime(df['scheduled_departure_time'], format='%d.%m.%Y %H:%M', errors='ignore')
df['actual_arrival_time'] = pd.to_datetime(df['actual_arrival_time'], format='%d.%m.%Y %H:%M:%S', errors='ignore')
df['actual_departure_time'] = pd.to_datetime(df['actual_departure_time'], format='%d.%m.%Y %H:%M:%S', errors='ignore')

In [19]:
# Limit number of trip_id to consider to save time
trip_ids = df['trip_id'].unique()[400:600]

In [20]:
info_trips = trips.get_trips(df, trip_ids)
info_trips = info_trips.reset_index(drop=True)
info_trips = info_trips.set_index(['operator_name', 'trip_id', 'product_id']).sort_index(axis=0, level=['trip_id'])
info_trips = info_trips[['date_id','stop_name', 'longitude', 'latitude', 'scheduled_departure_time', 'actual_departure_time', 'scheduled_arrival_time', 'actual_arrival_time']]

/home/mbanga/Epfl/LabsInDataScience/project_cff/trips.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  temp['date_id'] = temp[['scheduled_departure_time', 'scheduled_arrival_time']].apply(date_to_integer, axis=1)

In [21]:
info_trips.head()

                                                            date_id  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug             0.0
                                                Zug             0.0
                                                Zug             0.0
                                                Zug             0.0
                                                Zug             0.0

                                                                   stop_name  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug         Lancy-Pont-Rouge
                                                Zug                   Genève
                                                Zug            Les Tuileries
                                                Zug         Genthod-Bellevue
                                                Zug         Creux-de-Genthod

                                                           longitude  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug         6.124948
                                                Zug         6.142452
                                                Zug         6.147340
                                                Zug         6.153963
                                                Zug         6.161320

                                                             latitude  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug         46.185943
                                                Zug         46.210203
                                                Zug         46.249944
                                                Zug         46.256731
                                                Zug         46.263760

                                                           scheduled_departure_time  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug             2017-09-13 08:54:00
                                                Zug             2017-09-13 09:02:00
                                                Zug             2017-09-13 09:08:00
                                                Zug             2017-09-13 09:10:00
                                                Zug             2017-09-13 09:14:00

                                                           actual_departure_time  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug          2017-09-13 08:54:54
                                                Zug          2017-09-13 09:05:13
                                                Zug          2017-09-13 09:12:52
                                                Zug          2017-09-13 09:12:52
                                                Zug          2017-09-13 09:17:16

                                                           scheduled_arrival_time  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug                           NaT
                                                Zug           2017-09-13 09:00:00
                                                Zug           2017-09-13 09:08:00
                                                Zug           2017-09-13 09:10:00
                                                Zug           2017-09-13 09:13:00

                                                           actual_arrival_time
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug                        NaT
                                                Zug        2017-09-13 09:03:12
                                                Zug        2017-09-13 09:09:44
                                                Zug        2017-09-13 09:11:43
                                                Zug        2017-09-13 09:14:42

In [22]:
visu_trips = trips.visu_trips(info_trips.reset_index(), trip_ids)
visu_trips = visu_trips.set_index(['operator_name', 'trip_id', 'product_id']).sort_index(axis=0, level=['trip_id'])
visu_trips = visu_trips[['date_id', 'stop_list', 'scheduled_terminus_departure_time', 'scheduled_terminus_arrival_time']]

/home/mbanga/Epfl/LabsInDataScience/project_cff/trips.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  visu['stop_list'] = ' | '.join(visu['stop_name'])

In [23]:
visu_trips.head()

                                                            date_id  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug             0.0
                                                Zug             1.0
                                85:11:11032:001 Zug             0.0
                                                Zug             1.0
                                85:11:11033:001 Zug             0.0

                                                                                                    stop_list  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug         Lancy-Pont-Rouge | Genève | Les Tuileries | Ge...
                                                Zug         Lancy-Pont-Rouge | Genève | Genève-Sécheron | ...
                                85:11:11032:001 Zug         Coppet | Tannay | Mies | Pont-Céard | Versoix ...
                                                Zug         Coppet | Tannay | Mies | Pont-Céard | Versoix ...
                                85:11:11033:001 Zug         Lancy-Pont-Rouge | Genève | Les Tuileries | Ge...

                                                           scheduled_terminus_departure_time  \
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug                      2017-09-13 08:54:00
                                                Zug                      2017-09-14 08:54:00
                                85:11:11032:001 Zug                      2017-09-13 09:03:00
                                                Zug                      2017-09-14 09:03:00
                                85:11:11033:001 Zug                      2017-09-13 09:22:00

                                                           scheduled_terminus_arrival_time
operator_name                   trip_id         product_id
Schweizerische Bundesbahnen SBB 85:11:11031:001 Zug                    2017-09-13 09:25:00
                                                Zug                    2017-09-14 09:25:00
                                85:11:11032:001 Zug                    2017-09-13 09:34:00
                                                Zug                    2017-09-14 09:34:00
                                85:11:11033:001 Zug                    2017-09-13 09:55:00

In [13]:
# save dataframes
df.to_pickle('df')
info_trips.to_pickle('info_trips')
visu_trips.to_pickle('visu_trips')
df_schedules.to_pickle('df_schedules')

# SCHEDULES

In [4]:
df_partial_schedules = edges.partial_schedules(visu_trips.reset_index())

In [5]:
df_partial_schedules.head()

        origin        destination product_id
0        Aigle                Bex        Zug
1        Aigle           Roche VD        Zug
2        Arnex  Croy-Romainmôtier        Zug
3        Arnex          La Sarraz        Zug
4  Arth-Goldau                Zug        Zug

In [6]:
df_schedules = edges.schedules(info_trips.reset_index(), df_partial_schedules)

In [9]:
df_schedules.head(10)

,origin,origin_coord,destination,destination_coord,product_id,trip_id,date_id,scheduled_departure_time,scheduled_arrival_time,scheduled_travel_time,actual_departure_time,actual_arrival_time,actual_travel_time
0,Aigle,6.963680:46.316845,Bex,7.000677:46.251460,Zug,85:11:12289:001,0.0,2017-09-13 23:45:00,2017-09-13 23:50:00,00:05:00,NaT,NaT,NaT
1,Aigle,6.963680:46.316845,Bex,7.000677:46.251460,Zug,85:11:12289:001,1.0,2017-09-14 23:45:00,2017-09-14 23:50:00,00:05:00,NaT,NaT,NaT
2,Aigle,6.963680:46.316845,Roche VD,6.927049:46.358686,Zug,85:11:12212:001,0.0,2017-09-13 05:14:00,2017-09-13 05:17:00,00:03:00,2017-09-13 05:17:13,2017-09-13 05:20:03,00:02:50
3,Aigle,6.963680:46.316845,Roche VD,6.927049:46.358686,Zug,85:11:12212:001,1.0,2017-09-14 05:14:00,2017-09-14 05:17:00,00:03:00,2017-09-14 05:15:16,2017-09-14 05:18:06,00:02:50
8,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12212:001,0.0,2017-09-13 06:28:00,2017-09-13 06:33:00,00:05:00,2017-09-13 06:35:15,2017-09-13 06:36:15,00:01:00
10,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12216:001,0.0,2017-09-13 07:28:00,2017-09-13 07:33:00,00:05:00,2017-09-13 07:33:52,2017-09-13 07:34:52,00:01:00
12,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12220:001,0.0,2017-09-13 08:28:00,2017-09-13 08:33:00,00:05:00,2017-09-13 08:34:38,2017-09-13 08:35:38,00:01:00
14,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12224:001,0.0,2017-09-13 09:28:00,2017-09-13 09:33:00,00:05:00,2017-09-13 09:35:06,2017-09-13 09:36:06,00:01:00
16,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12228:001,0.0,2017-09-13 10:28:00,2017-09-13 10:33:00,00:05:00,2017-09-13 10:32:40,2017-09-13 10:33:40,00:01:00
18,Arnex,6.518903:46.698067,Croy-Romainmôtier,6.478119:46.696704,Zug,85:11:12232:001,0.0,2017-09-13 11:28:00,2017-09-13 11:33:00,00:05:00,2017-09-13 11:34:14,2017-09-13 11:35:14,00:01:00

In [10]:
df_schedules_viz = df_schedules
df_schedules_viz = df_schedules_viz.set_index(['origin', 'origin_coord', 'destination', 'destination_coord', 'product_id'])
df_schedules_viz = df_schedules_viz[['scheduled_departure_time', 'scheduled_arrival_time', 'scheduled_travel_time',
                'actual_departure_time', 'actual_arrival_time', 'actual_travel_time']]

In [12]:
df_schedules_viz.head(10)

                                                                          scheduled_departure_time  \
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug             2017-09-13 23:45:00
                                                               Zug             2017-09-14 23:45:00
                          Roche VD          6.927049:46.358686 Zug             2017-09-13 05:14:00
                                                               Zug             2017-09-14 05:14:00
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug             2017-09-13 06:28:00
                                                               Zug             2017-09-13 07:28:00
                                                               Zug             2017-09-13 08:28:00
                                                               Zug             2017-09-13 09:28:00
                                                               Zug             2017-09-13 10:28:00
                                                               Zug             2017-09-13 11:28:00

                                                                          scheduled_arrival_time  \
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug           2017-09-13 23:50:00
                                                               Zug           2017-09-14 23:50:00
                          Roche VD          6.927049:46.358686 Zug           2017-09-13 05:17:00
                                                               Zug           2017-09-14 05:17:00
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug           2017-09-13 06:33:00
                                                               Zug           2017-09-13 07:33:00
                                                               Zug           2017-09-13 08:33:00
                                                               Zug           2017-09-13 09:33:00
                                                               Zug           2017-09-13 10:33:00
                                                               Zug           2017-09-13 11:33:00

                                                                          scheduled_travel_time  \
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug                     00:05:00
                                                               Zug                     00:05:00
                          Roche VD          6.927049:46.358686 Zug                     00:03:00
                                                               Zug                     00:03:00
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug                     00:05:00
                                                               Zug                     00:05:00
                                                               Zug                     00:05:00
                                                               Zug                     00:05:00
                                                               Zug                     00:05:00
                                                               Zug                     00:05:00

                                                                          actual_departure_time  \
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug                          NaT
                                                               Zug                          NaT
                          Roche VD          6.927049:46.358686 Zug          2017-09-13 05:17:13
                                                               Zug          2017-09-14 05:15:16
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug          2017-09-13 06:35:15
                                                               Zug          2017-09-13 07:33:52
                                                               Zug          2017-09-13 08:34:38
                                                               Zug          2017-09-13 09:35:06
                                                               Zug          2017-09-13 10:32:40
                                                               Zug          2017-09-13 11:34:14

                                                                          actual_arrival_time  \
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug                        NaT
                                                               Zug                        NaT
                          Roche VD          6.927049:46.358686 Zug        2017-09-13 05:20:03
                                                               Zug        2017-09-14 05:18:06
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug        2017-09-13 06:36:15
                                                               Zug        2017-09-13 07:34:52
                                                               Zug        2017-09-13 08:35:38
                                                               Zug        2017-09-13 09:36:06
                                                               Zug        2017-09-13 10:33:40
                                                               Zug        2017-09-13 11:35:14

                                                                          actual_travel_time
origin origin_coord       destination       destination_coord  product_id
Aigle  6.963680:46.316845 Bex               7.000677:46.251460 Zug                       NaT
                                                               Zug                       NaT
                          Roche VD          6.927049:46.358686 Zug                  00:02:50
                                                               Zug                  00:02:50
Arnex  6.518903:46.698067 Croy-Romainmôtier 6.478119:46.696704 Zug                  00:01:00
                                                               Zug                  00:01:00
                                                               Zug                  00:01:00
                                                               Zug                  00:01:00
                                                               Zug                  00:01:00
                                                               Zug                  00:01:00

# EDGES

In [1]:
#Importations.
import pandas as pd
import glob
from geopy import distance
import numpy as np

import networkx as nx
import datetime
from datetime import timezone
import math

import trips
import schedules
import edges

# Reload dataframes
df = pd.read_pickle('df')
info_trips = pd.read_pickle('info_trips')
visu_trips = pd.read_pickle('visu_trips')
df_schedules = pd.read_pickle('df_schedules')

In [2]:
# Define time slots
# WARNING those variable names should not be reassigned in the notebook
minuit = datetime.time(0, 0)
midi = datetime.time(12, 0)
defined_timeslots = [str(minuit) + '-' + str(midi), str(midi) + '-' + str(minuit)]

In [3]:
edges.get_edges_params(df_schedules, defined_timeslots)

timestamp.hour  23 timestamp.minute 45 timestamp.second 0
<built-in method time of Timestamp object at 0x7f19545a6cf0>
  origin        origin_coord destination   destination_coord product_id  \
0  Aigle  6.963680:46.316845         Bex  7.000677:46.251460        Zug
1  Aigle  6.963680:46.316845         Bex  7.000677:46.251460        Zug

  scheduled_departure_time scheduled_travel_time actual_travel_time  \
0      2017-09-13 23:45:00              00:05:00                NaT
1      2017-09-14 23:45:00              00:05:00                NaT

   travel_delay [sec]
0                 NaN
1                 NaN

TypeError: descriptor 'time' requires a 'datetime.datetime' object but received a 'int'

In [4]:
datetime.time(12, 32, 0)
#datetime.datetime(2017, 4, 20, 12, 32, 5).time

datetime.time(12, 32)

In [34]:
# Utility function to group edge departure times by time slot
def travel_timeslots(index):   
    timestamp = edge_travels.loc[index]['scheduled_departure_time']
    target = datetime.time(timestamp.hour, timestamp.minute, timestamp.second)
    
    if minuit <= target < midi:
        return defined_timeslots[0]
    else: # midi <= target < minuit
        return defined_timeslots[1]

In [35]:
# Create dataframe with necessary edge informations to perform routing
df_edges = pd.DataFrame(columns=['fromNode', 'fromCoord', 'toNode', 'toCoord', 
                                 'product_id', 'timeslots', 'edge_params [µ, s]'])
# List of all edges
edges = df_schedules[['origin', 'origin_coord', 'destination', 'destination_coord', 'product_id']].drop_duplicates()

for index, values in edges.iterrows():
        fromNode = values.iloc[0]
        fromCoord = values.iloc[1]
        toNode = values.iloc[2]
        toCoord = values.iloc[3]
        transport = values.iloc[4]
        
        # Get all travel through the edge
        edge_travels = df_schedules[((df_schedules['origin'] == fromNode) & (df_schedules['origin_coord'] == fromCoord) &
                                    (df_schedules['destination'] == toNode) & (df_schedules['destination_coord'] == toCoord) &
                                    (df_schedules['product_id'] == transport))]
        # keep only relevant columns
        edge_travels = edge_travels[['origin', 'origin_coord', 'destination', 'destination_coord', 'product_id', 
                                     'scheduled_departure_time', 'scheduled_travel_time', 'actual_travel_time']]
        # add travel delays for the edge
        edge_travels['travel_delay [sec]'] = (edge_travels['actual_travel_time'] - edge_travels['scheduled_travel_time']) / np.timedelta64(1, 's')
        # Group edges by scheduled departure time slots
        #edge_grouped = edge_travels.groupby(travel_timeslots, axis=0)['travel_delay [sec]']
        edge_grouped = edge_travels.groupby(lambda index: travel_timeslots(df, index, col, defined_timeslots, ), axis=0)['travel_delay [sec]']
        #lambda x: GroupColFunc(people, x, 'a')
        
        # timeslots with at least one element in the dataframe 'edge_travels'
        observed_timeslots = list(edge_grouped.groups.keys())
        # instantiate parameter list
        edge_params = []
        for name in defined_timeslots:
            if name in observed_timeslots:
                # indices in the dataframe 'edge_travels' associated with the timeslot 'name'
                group_indices = edge_grouped.groups[name]
                # rows in the dataframe 'edge_travels' associated with the timeslot 'name'
                group_elems = edge_travels.loc[group_indices]['travel_delay [sec]']
                # add mean and standard deviation of departure delays for the time slot 'name'
                edge_params.append((round(group_elems.mean(), 1), round(group_elems.std(), 1)))
            else:
                nan = float('NaN')
                edge_params.append((nan, nan))
        
        
        # Generate node information and add it to the dataframe df_nodes
        #print(len(timeslots), len(departure_params), len(arrival_params))
        if len(defined_timeslots) == len(edge_params):
            to_concat = pd.DataFrame({'fromNode': fromNode, 'fromCoord': fromCoord, 'toNode': toNode, 'toCoord': toCoord, 
                                      'product_id': transport, 'timeslots': defined_timeslots, 
                                      'edge_params [µ, s]': edge_params})
            df_edges = pd.concat([df_edges, to_concat], axis=0)        
        '''else:
            check.append(('j=' + str(j), 
                          'timeslots='+str(len(timeslots)), 
                          'edge_params='+str(len(departure_params))))'''

In [3]:
df_edges = df_edges[['fromNode', 'fromCoord', 'toNode', 'toCoord', 'product_id', 'timeslots', 'edge_params [µ, s]']]
df_edges = df_edges.reset_index(drop=True)
df_edges.head()

NameError: name 'df_edges' is not defined

# NODES

In [37]:
# Get list of all nodes in the network

# Origin nodes
nodes_1 = df_schedules[['origin', 'origin_coord', 'product_id']].drop_duplicates()
nodes_1.columns = ['node', 'coord', 'product_id']
# Destination nodes
nodes_2 = df_schedules[['destination', 'destination_coord', 'product_id']].drop_duplicates()
nodes_2.columns = nodes_1.columns

# Construct dataframe of nodes
nodes = pd.concat([nodes_1, nodes_2], axis=0).drop_duplicates().reset_index(drop=True)

In [38]:
nodes.head()

          node               coord product_id
0        Aigle  6.963680:46.316845        Zug
1        Arnex  6.518903:46.698067        Zug
2  Arth-Goldau  8.549491:47.049157        Zug
3       Bavois  6.559331:46.687672        Zug
4   Bellinzona  9.029508:46.195437        Zug

In [39]:
# Utility function to group node departures by time slot
def departure_date_range(index):   
    timestamp = from_node.loc[index]['scheduled_departure_time']
    target = datetime.time(timestamp.hour, timestamp.minute, timestamp.second)
    
    if minuit <= target < midi:
        return defined_timeslots[0]
    else: # midi <= target < minuit:
        return defined_timeslots[1]

In [40]:
# Utility function to group node arrivals by time slot
def arrival_date_range(index):
    timestamp = to_node.loc[index]['scheduled_arrival_time']
    target = datetime.time(timestamp.hour, timestamp.minute, timestamp.second)
    
    if minuit <= target < midi:
        return defined_timeslots[0]
    else: #midi <= target < minuit:
        return defined_timeslots[1]

In [41]:
# Create dataframe with necessary node information to perform routing
df_nodes = pd.DataFrame(columns=['node', 'coord', 'product_id', 'timeslots', 'departure_params [µ, s]', 'arrival_params [µ, s]'])

j = 0
for index, values in nodes.iterrows():
        node = values.iloc[0]
        coord = values.iloc[1]
        transport = values.iloc[2]    
        # Get all edges leaving the current node
        from_node = df_schedules[((df_schedules['origin'] == node) & (df_schedules['origin_coord'] == coord))]
        # Keep only relevant columns
        from_node = from_node[['origin', 'origin_coord', 'destination','destination_coord', 'product_id', 'scheduled_departure_time', 'actual_departure_time']]
        # Add departure delay values for the node 
        from_node['departure_delay [sec]'] = (from_node['actual_departure_time'] - from_node['scheduled_departure_time']) / np.timedelta64(1, 's')
        # Group leaving edges by scheduled departure time slots
        from_grouped = from_node.groupby(departure_date_range, axis=0)['departure_delay [sec]']
        # mean and standard deviation of departure delays for each time slot of the current node
        #departure_params = [(round(group.mean(), 1), round(group.std(), 1)) for _, group in from_grouped]
        
        # timeslots with at least one element in the dataframe 'from_node'
        observed_timeslots = list(from_grouped.groups.keys())
        dep_params = []
        for name in defined_timeslots:
            if name in observed_timeslots:
                # indices in the dataframe 'from_node' associated with the timeslot 'name'
                group_indices = from_grouped.groups[name]
                # rows in the dataframe 'from_node' associated with the timeslot 'name'
                group_elems = from_node.loc[group_indices]['departure_delay [sec]']
                # add mean and standard deviation of departure delays for the time slot 'name'
                dep_params.append((round(group_elems.mean(), 1), round(group_elems.std(), 1)))
            else:
                nan = float('NaN')
                dep_params.append((nan, nan))

        # Get all edges arriving at the current node
        to_node = df_schedules[((df_schedules['destination'] == node) & (df_schedules['destination_coord'] == coord))]
        # Keep only relevant columns
        to_node = to_node[['origin', 'origin_coord', 'destination','destination_coord', 'product_id',  'scheduled_arrival_time', 'actual_arrival_time']]
        # Add arrival delay values for the node
        to_node['arrival_delay [sec]'] = (to_node['actual_arrival_time'] - to_node['scheduled_arrival_time']) / np.timedelta64(1, 's')
        # Group arriving edges by scheduled arrival time
        to_grouped = to_node.groupby(arrival_date_range, axis=0)['arrival_delay [sec]']
        # mean and standard deviation of arrival delays for each time slot of the current node
        # arrival_params = [(round(group.mean(), 1), round(group.std(), 1)) for _, group in to_grouped]
        
        # timeslots with at least one element in the dataframe 'to_node'
        observed_timeslots = list(to_grouped.groups.keys())
        arr_params = []
        for name in defined_timeslots:
            if name in observed_timeslots:
                # indices in the dataframe 'from_node' associated with the timeslot 'name'
                group_indices = to_grouped.groups[name]
                # rows in the dataframe 'from_node' associated with the timeslot 'name'
                group_elems = to_node.loc[group_indices]['arrival_delay [sec]']
                # add mean and standard deviation of departure delays for the time slot 'name'
                arr_params.append((round(group_elems.mean(), 1), round(group_elems.std(), 1)))
            else:
                nan = float('NaN')
                arr_params.append((nan, nan))


        # Generate node information and add it to the dataframe df_nodes
        #print(len(timeslots), len(departure_params), len(arrival_params))
        if len(defined_timeslots) == len(dep_params) == len(arr_params):
            to_concat = pd.DataFrame({'node': node, 'coord': coord, 'product_id': transport, 'timeslot': defined_timeslots, 
                                   'departure_params [µ, s]': dep_params, 'arrival_params [µ, s]': arr_params})
            df_nodes = pd.concat([df_nodes, to_concat], axis=0)
        '''else:
            check.append(('j=' + str(j), 
                          'timeslots='+str(len(timeslots)), 
                          'departure_params='+str(len(departure_params)), 
                          'arrival_params='+str(len(arrival_params))))'''

In [42]:
df_nodes = df_nodes[['node', 'coord', 'product_id', 'timeslot', 'departure_params [µ, s]', 'arrival_params [µ, s]']]
df_nodes = df_nodes.reset_index(drop=True)
df_nodes.head()

,node,coord,product_id,timeslot,"departure_params [µ, s]","arrival_params [µ, s]"
0,Aigle,6.963680:46.316845,Zug,00:00:00-12:00:00,"(134.5, 82.7)","(100.0, 84.9)"
1,Aigle,6.963680:46.316845,Zug,12:00:00-00:00:00,"(nan, nan)","(nan, nan)"
2,Arnex,6.518903:46.698067,Zug,00:00:00-12:00:00,"(230.3, 145.6)","(49.8, 108.5)"
3,Arnex,6.518903:46.698067,Zug,12:00:00-00:00:00,"(259.7, 166.2)","(18.1, 97.2)"
4,Arth-Goldau,8.549491:47.049157,Zug,00:00:00-12:00:00,"(71.5, 27.6)","(-19.0, 58.0)"